USE [DBSellVT]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 6/19/2023 11:45:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[CATEGORYID] [tinyint] IDENTITY(1,1) NOT NULL,
	[CATEGORYNAME] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CATEGORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CITY]    Script Date: 6/19/2023 11:45:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITY](
	[code] [char](2) NOT NULL,
	[CityName] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 6/19/2023 11:45:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[CUSTOMERID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMNAME] [varchar](50) NULL,
	[CUSTOMERSURNAME] [varchar](50) NULL,
	[CUSTOMERCITY] [varchar](13) NULL,
	[CUSTOMERBALANCE] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[CUSTOMERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 6/19/2023 11:45:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EMPLOYEEID] [smallint] IDENTITY(1,1) NOT NULL,
	[EMPLOYEENAMESURNAME] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[EMPLOYEEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVEMENT]    Script Date: 6/19/2023 11:45:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVEMENT](
	[MOVEMENTID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT] [int] NULL,
	[CUSTOMER] [int] NULL,
	[EMPLOYEE] [smallint] NULL,
	[ADET] [int] NULL,
	[PRICE] [decimal](18, 2) NULL,
	[DATE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MOVEMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 6/19/2023 11:45:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[PRODUCTID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCTNAME] [varchar](50) NULL,
	[PRODUCTBRAND] [varchar](50) NULL,
	[CATEGORY] [tinyint] NULL,
	[BUYPRODUCT] [decimal](18, 2) NULL,
	[SELLPRODUCT] [decimal](18, 2) NULL,
	[PRODUCTSTOCK] [smallint] NULL,
	[PRODUCTCONDUTION] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CATEGORY] ON 

INSERT [dbo].[CATEGORY] ([CATEGORYID], [CATEGORYNAME]) VALUES (1, N'BİLGİSAYAR')
INSERT [dbo].[CATEGORY] ([CATEGORYID], [CATEGORYNAME]) VALUES (2, N'BEYAZ EŞYA')
INSERT [dbo].[CATEGORY] ([CATEGORYID], [CATEGORYNAME]) VALUES (3, N'KÜÇÜK EV ALETİ')
SET IDENTITY_INSERT [dbo].[CATEGORY] OFF
GO
INSERT [dbo].[CITY] ([code], [CityName]) VALUES (N'1 ', N'ADANA')
INSERT [dbo].[CITY] ([code], [CityName]) VALUES (N'2 ', N'ADIYAMAN')
INSERT [dbo].[CITY] ([code], [CityName]) VALUES (N'3 ', N'AFYON')
GO
SET IDENTITY_INSERT [dbo].[CUSTOMER] ON 

INSERT [dbo].[CUSTOMER] ([CUSTOMERID], [CUSTOMNAME], [CUSTOMERSURNAME], [CUSTOMERCITY], [CUSTOMERBALANCE]) VALUES (1, N'VEYSEL', N'YILDIRIM', N'ADANA', CAST(18000.00 AS Decimal(18, 2)))
INSERT [dbo].[CUSTOMER] ([CUSTOMERID], [CUSTOMNAME], [CUSTOMERSURNAME], [CUSTOMERCITY], [CUSTOMERBALANCE]) VALUES (2, N'EMEL', N'ÖZBEY', N'ANKARA', CAST(34000.00 AS Decimal(18, 2)))
INSERT [dbo].[CUSTOMER] ([CUSTOMERID], [CUSTOMNAME], [CUSTOMERSURNAME], [CUSTOMERCITY], [CUSTOMERBALANCE]) VALUES (3, N'ASLI', N'YILDIRIM', N'ANTALYA', CAST(25000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[CUSTOMER] OFF
GO
SET IDENTITY_INSERT [dbo].[EMPLOYEE] ON 

INSERT [dbo].[EMPLOYEE] ([EMPLOYEEID], [EMPLOYEENAMESURNAME]) VALUES (1, N'ALİ ÇINAR')
INSERT [dbo].[EMPLOYEE] ([EMPLOYEEID], [EMPLOYEENAMESURNAME]) VALUES (2, N'MURAT YILMAZ')
INSERT [dbo].[EMPLOYEE] ([EMPLOYEEID], [EMPLOYEENAMESURNAME]) VALUES (3, N'AYŞE ÖZTÜRK')
SET IDENTITY_INSERT [dbo].[EMPLOYEE] OFF
GO
SET IDENTITY_INSERT [dbo].[MOVEMENT] ON 

INSERT [dbo].[MOVEMENT] ([MOVEMENTID], [PRODUCT], [CUSTOMER], [EMPLOYEE], [ADET], [PRICE], [DATE]) VALUES (1, 1, 3, 1, 1, CAST(27650.00 AS Decimal(18, 2)), CAST(N'2019-01-10' AS Date))
INSERT [dbo].[MOVEMENT] ([MOVEMENTID], [PRODUCT], [CUSTOMER], [EMPLOYEE], [ADET], [PRICE], [DATE]) VALUES (2, 6, 3, 1, 1, CAST(13000.00 AS Decimal(18, 2)), CAST(N'2019-01-10' AS Date))
INSERT [dbo].[MOVEMENT] ([MOVEMENTID], [PRODUCT], [CUSTOMER], [EMPLOYEE], [ADET], [PRICE], [DATE]) VALUES (3, 10, 3, 1, 1, CAST(18000.00 AS Decimal(18, 2)), CAST(N'2019-01-10' AS Date))
SET IDENTITY_INSERT [dbo].[MOVEMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTS] ON 

INSERT [dbo].[PRODUCTS] ([PRODUCTID], [PRODUCTNAME], [PRODUCTBRAND], [CATEGORY], [BUYPRODUCT], [SELLPRODUCT], [PRODUCTSTOCK], [PRODUCTCONDUTION]) VALUES (1, N'BUZDOLABI', N'SIEMENS', 2, CAST(25000.00 AS Decimal(18, 2)), CAST(27650.00 AS Decimal(18, 2)), 10, 1)
INSERT [dbo].[PRODUCTS] ([PRODUCTID], [PRODUCTNAME], [PRODUCTBRAND], [CATEGORY], [BUYPRODUCT], [SELLPRODUCT], [PRODUCTSTOCK], [PRODUCTCONDUTION]) VALUES (2, N'LCD', N'LG', 4, CAST(12000.00 AS Decimal(18, 2)), CAST(14000.00 AS Decimal(18, 2)), 5, 1)
INSERT [dbo].[PRODUCTS] ([PRODUCTID], [PRODUCTNAME], [PRODUCTBRAND], [CATEGORY], [BUYPRODUCT], [SELLPRODUCT], [PRODUCTSTOCK], [PRODUCTCONDUTION]) VALUES (3, N'LAPTOP', N'MONSTER', 1, CAST(30000.00 AS Decimal(18, 2)), CAST(34000.00 AS Decimal(18, 2)), 50, 1)
SET IDENTITY_INSERT [dbo].[PRODUCTS] OFF
GO
ALTER TABLE [dbo].[PRODUCTS] ADD  DEFAULT ('1') FOR [PRODUCTCONDUTION]
GO
ALTER TABLE [dbo].[MOVEMENT]  WITH CHECK ADD  CONSTRAINT [FK_MOVEMENT_CUSTOMER] FOREIGN KEY([CUSTOMER])
REFERENCES [dbo].[CUSTOMER] ([CUSTOMERID])
GO
ALTER TABLE [dbo].[MOVEMENT] CHECK CONSTRAINT [FK_MOVEMENT_CUSTOMER]
GO
ALTER TABLE [dbo].[MOVEMENT]  WITH CHECK ADD  CONSTRAINT [FK_MOVEMENT_EMPLOYEE] FOREIGN KEY([EMPLOYEE])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEEID])
GO
ALTER TABLE [dbo].[MOVEMENT] CHECK CONSTRAINT [FK_MOVEMENT_EMPLOYEE]
GO
ALTER TABLE [dbo].[MOVEMENT]  WITH CHECK ADD  CONSTRAINT [FK_MOVEMENT_PRODUCTS] FOREIGN KEY([PRODUCT])
REFERENCES [dbo].[PRODUCTS] ([PRODUCTID])
GO
ALTER TABLE [dbo].[MOVEMENT] CHECK CONSTRAINT [FK_MOVEMENT_PRODUCTS]
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTS_CATEGORY] FOREIGN KEY([CATEGORY])
REFERENCES [dbo].[CATEGORY] ([CATEGORYID])
GO
ALTER TABLE [dbo].[PRODUCTS] CHECK CONSTRAINT [FK_PRODUCTS_CATEGORY]
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD CHECK  (([PRODUCTSTOCK]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[Movements]    Script Date: 6/19/2023 11:45:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Movements]
as
select MOVEMENTID, CUSTOMNAME +' '+CUSTOMERSURNAME as 'NAME SURNAME', PRODUCTNAME, EMPLOYEENAMESURNAME, ADET, PRICE, DATE from MOVEMENT inner join CUSTOMER on CUSTOMER.CUSTOMERID = MOVEMENT.CUSTOMER
inner join PRODUCTS on PRODUCTS.PRODUCTID = MOVEMENT.PRODUCT
inner join EMPLOYEE on EMPLOYEE.EMPLOYEEID = MOVEMENT.EMPLOYEE
GO
/****** Object:  StoredProcedure [dbo].[TEST1]    Script Date: 6/19/2023 11:45:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[TEST1]
as
Select PRODUCTNAME,PRODUCTBRAND,PRODUCTSTOCK,CONDITION=
case
when PRODUCTSTOCK>=1 and PRODUCTSTOCK <=5 then 'CRITICAL LEVEL'
when PRODUCTSTOCK>=6 and PRODUCTSTOCK <=10 then 'REINFORCEMENT'
when PRODUCTSTOCK>10 then 'NUMBER OF PRODUCT ENOUGH FOR SURE'
END
from PRODUCTS
GO
